 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 48px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  font-size: 1.5rem;
  margin: 11px auto;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 27px;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  font-weight: 700;
  margin: 0 auto;
  padding: 0;
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/516089.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 330px;
}

.u-section-3 .u-text-1 {
  font-size: 3.125rem;
  text-shadow: 2px 2px 8px rgba(66,84,101,0.4);
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  width: 861px;
  margin: 55px auto 0;
}

.u-section-3 .u-text-2 {
  letter-spacing: 0px;
  line-height: 1.4;
  font-weight: 300;
  font-size: 1.875rem;
  font-family: Lato, sans-serif;
  text-transform: none;
  width: 714px;
  margin: 55px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 272px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 208px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 98px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    font-size: 1.5rem;
  }
}.u-block-bb74-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-bb74-3 {
  position: absolute;
  left: 0;
}

.u-block-bb74-4 {
  position: absolute;
  right: 0;
}

 .u-section-4-1 {
  background-image: url("images/4685814.webp");
  background-position: 50% 50%;
}

.u-section-4-1 .u-sheet-1 {
  min-height: 202px;
}

.u-section-4-1 .u-text-1 {
  font-family: Flamenco;
  font-size: 3.75rem;
  margin: 60px 92px;
}

@media (max-width: 1199px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 214px;
  }
}

@media (max-width: 575px) {
  .u-section-4-1 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-4-2 {
  background-image: url("images/ScreenShot2022-05-05at8.10.10PM.png");
  background-position: 50% 50%;
}

.u-section-4-2 .u-sheet-1 {
  min-height: 202px;
}

.u-section-4-2 .u-text-1 {
  font-family: Flamenco;
  font-size: 3.125rem;
  margin: 52px 81px 0;
}

.u-section-4-2 .u-btn-1 {
  background-image: linear-gradient(270deg, #adcce9, #72efe9);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 18px auto 49px;
  padding: 9px 22px;
}

@media (max-width: 1199px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 167px;
  }

  .u-section-4-2 .u-text-1 {
    margin-left: 94px;
    margin-right: 94px;
  }
}

@media (max-width: 991px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 128px;
  }
}

@media (max-width: 767px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 96px;
  }
}

@media (max-width: 575px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 60px;
  }

  .u-section-4-2 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-4-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/6091442.webp");
  background-position: 50% 50%;
}

.u-section-4-3 .u-sheet-1 {
  min-height: 202px;
}

.u-section-4-3 .u-text-1 {
  font-family: Flamenco;
  font-size: 3.125rem;
  margin: 52px 81px 0;
}

.u-section-4-3 .u-btn-1 {
  background-image: linear-gradient(30deg, #adcce9, #f1b5b8);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 18px auto 49px;
  padding: 9px 22px;
}

@media (max-width: 1199px) {
  .u-section-4-3 .u-sheet-1 {
    min-height: 167px;
  }

  .u-section-4-3 .u-text-1 {
    margin-left: 94px;
    margin-right: 94px;
  }
}

@media (max-width: 991px) {
  .u-section-4-3 .u-sheet-1 {
    min-height: 128px;
  }
}

@media (max-width: 767px) {
  .u-section-4-3 .u-sheet-1 {
    min-height: 96px;
  }
}

@media (max-width: 575px) {
  .u-section-4-3 .u-sheet-1 {
    min-height: 60px;
  }

  .u-section-4-3 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/wp8318769.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 499px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  margin: 60px 44px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 84px;
    margin-right: 0;
    margin-left: 0;
    width: 594px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 315px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 236px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 541px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 431px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-text-1 {
  font-family: "Imperial Script";
  font-size: 5.625rem;
  margin: 32px 4px 0;
}

.u-section-6 .u-text-2 {
  margin: 34px 0 0;
}

.u-section-6 .u-image-1 {
  min-height: 431px;
  background-image: url("images/Screenshot_2022-05-05_1.32.39_PM-removebg-preview.png");
  background-position: 56.77% 100%;
  background-size: auto 110%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-6 .u-image-1 {
    min-height: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-1 {
    min-height: 272px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    min-height: 408px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-image-1 {
    min-height: 257px;
  }
}