 .u-section-1 {
  background-image: linear-gradient(45deg, #72efe9, #77aad9);
}

.u-section-1 .u-sheet-1 {
  min-height: 79px;
}

.u-section-1 .u-text-1 {
  font-family: Belgrano;
  font-weight: normal;
  margin: 14px auto;
} .u-section-2 {
  background-image: url("images/4605046.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1002px;
}

.u-section-2 .u-text-1 {
  font-family: Bangers;
  font-weight: normal;
  margin: 32px auto 0 21px;
}

.u-section-2 .u-list-1 {
  margin-top: 39px;
  margin-bottom: 0;
  grid-template-rows: auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 261px;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/battlefield-neck_0.webp");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 16px 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.5rem;
  margin: 70px auto 0;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/ScreenShot2022-05-07at1.17.47PM.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 16px 0;
}

.u-section-2 .u-text-3 {
  font-size: 2.5rem;
  margin: 70px auto 0;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/S9p6Wn.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 16px 0;
}

.u-section-2 .u-text-4 {
  font-size: 2.5rem;
  margin: 70px auto 0;
}

.u-section-2 .u-list-2 {
  grid-template-rows: auto;
  margin-top: 32px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 261px;
}

.u-section-2 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/apps.64806.13965280251311664.f675b154-a17a-4629-a393-9fc47d5be3a0.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 16px 0;
}

.u-section-2 .u-text-5 {
  font-size: 2.5rem;
  margin: 70px auto 0;
}

.u-section-2 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/ScreenShot2022-05-07at1.28.15PM.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 16px 0;
}

.u-section-2 .u-text-6 {
  font-size: 2.5rem;
  margin: 70px auto 0;
}

.u-section-2 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/ScreenShot2022-05-07at1.32.59PM.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 16px 0;
}

.u-section-2 .u-text-7 {
  font-size: 2.5rem;
  margin: 70px auto 0;
}

.u-section-2 .u-list-3 {
  grid-template-rows: auto;
  margin-top: 32px;
  margin-bottom: 32px;
}

.u-section-2 .u-repeater-3 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 261px;
}

.u-section-2 .u-image-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/ScreenShot2022-05-07at1.41.49PM.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 16px 0;
}

.u-section-2 .u-text-8 {
  font-size: 2.5rem;
  margin: 70px auto 0;
}

.u-section-2 .u-image-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/ScreenShot2022-05-07at3.27.12PM.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 16px 0;
}

.u-section-2 .u-text-9 {
  font-size: 2.5rem;
  margin: 70px auto 0;
}

.u-section-2 .u-image-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/ScreenShot2022-05-07at3.28.55PM.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 16px 0;
}

.u-section-2 .u-text-10 {
  font-size: 2.5rem;
  margin: 70px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 375px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 215px;
  }

  .u-section-2 .u-repeater-3 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 215px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 494px;
  }

  .u-section-2 .u-repeater-3 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 494px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-repeater-3 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-image: url("images/istockphoto-1265005920-612x612.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 300px;
}

.u-section-3 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 20px;
  grid-template-rows: auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 261px;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/download2.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 16px 0;
}

.u-section-3 .u-text-1 {
  font-size: 2.5rem;
  margin: 70px auto 0;
}

.u-section-3 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/unnamed.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 16px 0;
}

.u-section-3 .u-text-2 {
  font-size: 2.5rem;
  margin: 70px auto 0;
}

.u-section-3 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/maxresdefault2.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 16px 0;
}

.u-section-3 .u-text-3 {
  font-size: 2.5rem;
  margin: 70px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 375px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }
} .u-section-4 {
  background-image: url("images/futuristic-lighting-effect-on-red-color-tone-background-vector.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 300px;
}

.u-section-4 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 20px;
  grid-template-rows: auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 261px;
}

.u-section-4 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/tetris-lingo-feature_feature.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 16px 0;
}

.u-section-4 .u-text-1 {
  font-size: 2.5rem;
  margin: 70px auto 0;
}

.u-section-4 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/maxresdefault1.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 16px 0;
}

.u-section-4 .u-text-2 {
  font-size: 2.5rem;
  margin: 70px auto 0;
}

.u-section-4 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/capsule_616x353.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 16px 0;
}

.u-section-4 .u-text-3 {
  font-size: 2.5rem;
  margin: 70px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 375px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
  }
} .u-section-5 {
  background-image: url("images/1.webp");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 300px;
}

.u-section-5 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 20px;
  grid-template-rows: auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 261px;
}

.u-section-5 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/beat-that-the-game-2.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 16px 0;
}

.u-section-5 .u-text-1 {
  font-size: 2.5rem;
  margin: 70px auto 0;
}

.u-section-5 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/maxresdefault3.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 16px 0;
}

.u-section-5 .u-text-2 {
  font-size: 2.5rem;
  margin: 70px auto 0;
}

.u-section-5 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/ScreenShot2022-04-09at6.48.14PM.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 16px 0;
}

.u-section-5 .u-text-3 {
  font-size: 2.5rem;
  margin: 70px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 375px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
  }
} .u-section-6 {
  background-image: url("images/160626.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 300px;
}

.u-section-6 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 20px;
  grid-template-rows: auto;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 261px;
}

.u-section-6 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/27319.746c2259.668x375o.c6cf8543e2d52x.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 16px 0;
}

.u-section-6 .u-text-1 {
  font-size: 2.5rem;
  margin: 70px auto 0;
}

.u-section-6 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/ddwzpe3-a4196e15-67f8-498d-95f9-231afec1a652.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 16px 0;
}

.u-section-6 .u-text-2 {
  font-size: 2.5rem;
  margin: 70px auto 0;
}

.u-section-6 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/download3.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 16px 0;
}

.u-section-6 .u-text-3 {
  font-size: 2.5rem;
  margin: 70px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 375px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.5rem;
  }
} .u-section-7 {
  background-image: url("images/modern-material-design-color-wallpaper-geometriia-romby-teks-71.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 300px;
}

.u-section-7 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 20px;
  grid-template-rows: auto;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 261px;
}

.u-section-7 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/photo-1541185934-01b600ea069c.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 16px 0;
}

.u-section-7 .u-text-1 {
  font-size: 2.5rem;
  margin: 70px auto 0;
}

.u-section-7 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/unnamed.webp");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 16px 0;
}

.u-section-7 .u-text-2 {
  font-size: 2.5rem;
  margin: 70px auto 0;
}

.u-section-7 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/space-invaders.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 16px 0;
}

.u-section-7 .u-text-3 {
  font-size: 2.5rem;
  margin: 70px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 375px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.5rem;
  }
}