 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 40px;
}

.u-section-1 .u-text-1 {
  text-decoration: underline !important;
  font-weight: 700;
  margin: 8px auto;
}.u-block-e5a4-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-e5a4-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + -109px);
  width: 65px;
  height: 65px;
  right: auto;
  padding: 10px;
}

.u-block-e5a4-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: calc(((100% - 1140px) / 2)  + -109px);
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-block-e5a4-3 {
    left: calc(((100% - 940px) / 2)  + -90px);
  }

  .u-block-e5a4-4 {
    right: calc(((100% - 940px) / 2)  + -90px);
  }
}

@media (max-width: 991px) {
  .u-block-e5a4-3 {
    left: calc(((100% - 720px) / 2)  + -69px);
  }

  .u-block-e5a4-4 {
    right: calc(((100% - 720px) / 2)  + -69px);
  }
}

@media (max-width: 767px) {
  .u-block-e5a4-3 {
    left: calc(((100% - 540px) / 2)  + -52px);
  }

  .u-block-e5a4-4 {
    right: calc(((100% - 540px) / 2)  + -52px);
  }
}

@media (max-width: 575px) {
  .u-block-e5a4-3 {
    left: calc(((100% - 340px) / 2)  + -33px);
  }

  .u-block-e5a4-4 {
    right: calc(((100% - 340px) / 2)  + -33px);
  }
}

 .u-section-2-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/skywalk-looking-up-REDWOODSYWALK0521-7082c70a1d0743999bf702dd50bf2dde.jpg");
  background-position: 50% 50%;
}

.u-section-2-1 .u-sheet-1 {
  min-height: 364px;
}

.u-section-2-1 .u-text-1 {
  margin: 114px auto 0;
}

.u-section-2-1 .u-text-2 {
  margin: 25px 29px 0;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

 .u-section-2-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/ScreenShot2022-09-17at12.24.37PM.png");
  background-position: 50% 50%;
}

.u-section-2-2 .u-sheet-1 {
  min-height: 364px;
}

.u-section-2-2 .u-text-1 {
  font-size: 6rem;
  margin: 55px auto 0;
}

.u-section-2-2 .u-btn-1 {
  border-style: solid;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 27px auto 60px;
  padding: 6px 84px 7px 83px;
}

@media (max-width: 1199px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 300px;
  }
}

@media (max-width: 991px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 230px;
  }
}

@media (max-width: 767px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 173px;
  }

  .u-section-2-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 109px;
  }

  .u-section-2-2 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-2-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/ScreenShot2022-09-17at12.34.41PM.png");
  background-position: 50% 50%;
}

.u-section-2-3 .u-sheet-1 {
  min-height: 364px;
}

.u-section-2-3 .u-text-1 {
  font-size: 6rem;
  margin: 55px auto 0;
}

.u-section-2-3 .u-btn-1 {
  border-style: solid;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 27px auto 60px;
  padding: 6px 84px 7px 83px;
}

@media (max-width: 1199px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 300px;
  }
}

@media (max-width: 991px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 230px;
  }
}

@media (max-width: 767px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 173px;
  }

  .u-section-2-3 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 109px;
  }

  .u-section-2-3 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-2-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/ScreenShot2022-09-17at12.27.33PM.png");
  background-position: 50% 50%;
}

.u-section-2-4 .u-sheet-1 {
  min-height: 364px;
}

.u-section-2-4 .u-text-1 {
  font-size: 6rem;
  margin: 55px auto 0;
}

.u-section-2-4 .u-btn-1 {
  border-style: solid;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 27px auto 60px;
  padding: 6px 84px 7px 83px;
}

@media (max-width: 1199px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 300px;
  }
}

@media (max-width: 991px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 230px;
  }
}

@media (max-width: 767px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 173px;
  }

  .u-section-2-4 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 109px;
  }

  .u-section-2-4 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-2-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/ScreenShot2022-09-17at12.22.43PM.png");
  background-position: 50% 50%;
}

.u-section-2-5 .u-sheet-1 {
  min-height: 364px;
}

.u-section-2-5 .u-text-1 {
  font-size: 6rem;
  margin: 55px auto 0;
}

.u-section-2-5 .u-btn-1 {
  border-style: solid;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 27px auto 60px;
  padding: 6px 84px 7px 83px;
}

@media (max-width: 1199px) {
  .u-section-2-5 .u-sheet-1 {
    min-height: 300px;
  }
}

@media (max-width: 991px) {
  .u-section-2-5 .u-sheet-1 {
    min-height: 230px;
  }
}

@media (max-width: 767px) {
  .u-section-2-5 .u-sheet-1 {
    min-height: 173px;
  }

  .u-section-2-5 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2-5 .u-sheet-1 {
    min-height: 109px;
  }

  .u-section-2-5 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/grand-canyon_670151752-web.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 611px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  text-transform: none;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  font-weight: 700;
  width: 864px;
  margin: 15px auto 0;
}

.u-section-3 .u-accordion-1 {
  width: 896px;
  margin: 15px auto 60px;
}

.u-section-3 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-3 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 231px;
  background-image: none;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 11px 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 20px auto 0 79px;
  padding: 8px 33px;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -40px 85px 0 auto;
  padding: 8px 33px;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -40px auto 0;
  padding: 8px 33px;
}

.u-section-3 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 16px auto 0 356px;
  padding: 8px 33px;
}

.u-section-3 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -41px 85px 0 auto;
  padding: 8px 33px;
}

.u-section-3 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -40px auto 0 58px;
  padding: 8px 33px;
}

.u-section-3 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px auto 0 64px;
  padding: 8px 33px;
}

.u-section-3 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -41px auto 0;
  padding: 8px 33px;
}

.u-section-3 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -40px 82px 0 auto;
  padding: 8px 33px;
}

.u-section-3 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-3 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 231px;
  background-image: none;
  height: auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 0 auto;
  padding: 8px 33px;
}

.u-section-3 .u-btn-11 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -40px auto 0 71px;
  padding: 8px 33px;
}

.u-section-3 .u-btn-12 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -40px 69px 0 auto;
  padding: 8px 33px;
}

.u-section-3 .u-btn-13 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 31px auto 0 145px;
  padding: 8px 33px;
}

.u-section-3 .u-btn-14 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -40px 199px 0 auto;
  padding: 8px 33px;
}

.u-section-3 .u-btn-15 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 20px auto 0 167px;
  padding: 8px 33px;
}

.u-section-3 .u-btn-16 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -40px 186px 0 auto;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 504px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-accordion-1 {
    width: 720px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 180px;
  }

  .u-section-3 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-9 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-11 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-12 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-13 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-14 {
    margin-right: 23px;
  }

  .u-section-3 .u-btn-15 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-16 {
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-accordion-1 {
    width: 540px;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-14 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-16 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 183px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-accordion-1 {
    width: 340px;
  }
}