 .u-section-1 {
  background-image: url("images/sdf-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 174px;
}

.u-section-1 .u-text-1 {
  font-size: 6.125rem;
  margin: 27px auto 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 143px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 110px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 83px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 52px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-2 .u-sheet-1 {
  min-height: 620px;
}

.u-section-2 .u-video-1 {
  width: 1140px;
  left: -1px;
  right: auto;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 350px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 220px;
  }
} .u-section-3 {
  background-image: linear-gradient(#f2f2f2, #e9f2fa);
}

.u-section-3 .u-sheet-1 {
  min-height: 238px;
}

.u-section-3 .u-group-1 {
  width: 570px;
  min-height: 194px;
  height: auto;
  margin: 23px auto;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  font-size: 6rem;
  text-align: justify;
  font-weight: 700;
  font-family: Elianto-Regular;
  width: 294px;
  margin: 15px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 0 auto;
  padding: 6px 31px 6px 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 477px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 225px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }
}@font-face {
  font-family: 'Elianto-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Elianto-Regular.ttf);
}